.form{
    width: 100%;
    height: 100%;
}

.container{
    padding: 30px;
}

.half-width{
    width: 50%;
}

.quarter-width{
    width: 25%;
    margin-bottom: 20px;
}

#btnSalvar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

button{
    margin: 15px;
}

i{
    vertical-align: middle;
}